<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1>How to upload files in Node Js</h1>
    <p>We can upload files in node js with the help of Multer Middleware.</p>
</div>

    <div>
        <h2>Please upload your Resume Here</h2><br>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="cvfile">
            <button>Upload</button>
        </form>
    </div>
    
</body>
</html>